<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title><%=title%></title>
</head>

<body>
    <% include ../Components/Navbar %>
    <div class="container">
        <form method="POST" action="/room/new/video/confirmed">
            <div>
                <img src="<%=room.thumbnail%>">
            </div>
            <div>
                <div class="show-title"><%=room.title %><span><a href="#" id="change-title"> change</a></span></div>
            </div>
            <div>
                <div class="show-content"><%=room.content%><span><a href="#" id="change-content"> change</a></span>
                </div>
            </div>
            <div class="hidden-box" hidden>
                <input id="title" name="title" value="<%=room.title %>">
                <input name="thumbnail" value="<%=room.thumbnail%>">
                <input id="content" name="content" value="<%=room.content%>">
                <input name="videoId" value="<%=room.videoId%>">
            </div>
            <a class="btn btn-danger" href="/room/new">Back</a>
            <button class="btn btn-success">Save</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>
    <script>

        $('a#change-title').on('click', function () {
            $('div.show-title').replaceWith($('input#title'))
        })
        $('a#change-content').on('click', function () {
            $('div.show-content').replaceWith($('input#content'))
        })
    </script>
</body>

</html>