<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c531526e8d.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/room/new.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <title><%=title%></title>
</head>

<body>
    <% include ../Components/Navbar %>
    <div class="container mt-5 ">
        <form method="POST" action="/room/new/video/confirmed">
            <div>
                <img src="<%=room.thumbnail%>">
            </div>
            <div>
                <div class="show-title"><%=room.title %><span><a href="#" id="change-title"> change</a></span></div>
            </div>
            <div>
                <div class="show-content"><%=room.content%><span><a href="#" id="change-content"> change</a></span>
                </div>
            </div>
            <div class="hidden-box" hidden>
                <input id="title" name="title" value="<%=room.title %>">
                <input name="thumbnail" value="<%=room.thumbnail%>">
                <input id="content" name="content" value="<%=room.content%>">
                <input name="videoId" value="<%=room.videoId%>">
            </div>
            <a class="btn btn-danger" href="/room/new">Back</a>
            <button class="btn btn-success">Save</button>
        </form>
    </div>
    <footer id="myFooter" class="fixed-bottom mt-5">
        <div class="container" style="margin-bottom: -40px">
            <div class="row">
                <div class="col-sm-3">
                    <h2 class="logo"><a href="#"> LOGO </a></h2>
                </div>
                <div class="col-sm-2">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sign up</a></li>
                        <li><a href="#">Downloads</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <div class="social-networks">
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i>
                            < /a> <a href="#" class="google"><i class="fa fa-google-plus"></i>
                        </a>
                    </div>
                    <button type="button" class="btn btn-default">Contact us</button>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2016 Copyright Text </p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>
    <script>
        $('a#change-title').on('click', function () {
            $('div.show-title').replaceWith($('input#title'))
        })
        $('a#change-content').on('click', function () {
            $('div.show-content').replaceWith($('input#content'))
        })
    </script>
</body>

</html>