<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c531526e8d.js"></script>
    <title>Edit Page</title>
</head>

<body>
    <% include ../Components/Navbar %>
    <div class="container">
        <form action="/home/<%= room._id %>/edit?_method=PUT" method="POST">
            <div>
                <img src="<%=room.thumbnail%>">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="room[title]" value="<%= room.title %>">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="room[content]" value="<%= room.content%>">
            </div>
            <button class="btn btn-success">Update</button>
        </form>
        <a class="btn btn-danger" href="/home/<%= room._id%>">Back</a>
    </div>
    <div class="hidden-box" hidden>
        <input id="title" name="title" value="<%=room.title %>">
        <input name="thumbnail" value="<%=room.thumbnail%>">
        <input id="content" name="content" value="<%=room.content%>">
        <input name="videoId" value="<%=room.videoId%>">
    </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>
</body>

</html>