<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/c531526e8d.js"></script>
    <style>
        .text {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            line-height: 16px;
            /* fallback */
            max-height: 32px;
            /* fallback */
            -webkit-line-clamp: 2;
            /* number of lines to show */
            -webkit-box-orient: vertical;
        }

        .hover03 figure img {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
        }

        .hover03 figure:hover img {
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
        }
    </style>
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <title><%=title%></title>
</head>

<body>
    <% include ../Components/Navbar %>
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Album example</h1>
            <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator,
                etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
            <p>
                <% if(currentUser){ %>
                <a href="/room/new" class='btn btn-primary'>Create a room</a>
                <% } %>

            </p>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <% if(noMatch !== null) { %>
            <div class="col-md-12">
                <h4><%= noMatch %></h4>
            </div>
            <%} %>
            <% rooms.forEach(room => { %>
            <div class="col-md-3">
                <div class="hover03 card" style="width: 16rem;height: 300px">
                    <a href="/home/<%=room._id%>">
                        <figure><img src="<%=room.thumbnail%>" class="card-img-top" alt="..."></figure>
                        <div class="card-body" style="margin-top: -25px">
                            <a href="/home/<%=room._id%>" style="color: black" class="card-title"><%=room.title%></a>
                        </div>
                </div>
            </div>
            <%}) %>
            <!-- The rooms -->
        </div>
        <div id="Footer_8">
            <svg class="Base_A0_Rectangle_5">
                <rect id="Base_A0_Rectangle_5" rx="0" ry="0" x="0" y="0" width="1920" height="200">
                </rect>
            </svg>
            <div id="ID497_Evergreen_Rd__Roseville_">
                <span>497 Evergreen Rd. Roseville, CA 95673<br />+44 345 678 903<br />adobexd@mail.com</span>
            </div>
            <div id="About_Us_Contact_Terms___Condi">
                <span>About Us<br />Contact<br />Terms & Conditions</span>
            </div>
            <div id="Facebook_Twitter_Instagram">
                <span>Facebook<br />Twitter<br />Instagram</span>
            </div>
            <div id="_LaDucHao_2017">
                <span>©LaDucHao 2017</span>
            </div>
            <div id="Required_Field">
                <svg class="Rectangle_130">
                    <rect id="Rectangle_130" rx="4" ry="4" x="0" y="0" width="210" height="40">
                    </rect>
                </svg>
                <div id="Email_Address">
                    <span>Email Address</span>
                </div>
            </div>
            <div id="button">
                <svg class="Rectangle_131">
                    <rect id="Rectangle_131" rx="0" ry="0" x="0" y="0" width="60" height="40">
                    </rect>
                </svg>
                <div id="OK">
                    <span>OK</span>
                </div>
            </div>
            <div id="Subscribe_to_our_newsletter">
                <span>Subscribe to our newsletter</span>
            </div>
            <svg class="Path_38" viewBox="80 0 7.311 14">
                <path id="Path_38"
                    d="M 84.74444580078125 14 L 84.74444580078125 7.622222423553467 L 86.92222595214844 7.622222423553467 L 87.23334503173828 5.133333683013916 L 84.74444580078125 5.133333683013916 L 84.74444580078125 3.577777862548828 C 84.74444580078125 2.877778053283691 84.97779083251953 2.333333730697632 85.9888916015625 2.333333730697632 L 87.31111145019531 2.333333730697632 L 87.31111145019531 0.07777778059244156 C 87 0.07777778059244156 86.22222900390625 0 85.36666870117188 0 C 83.5 0 82.17778015136719 1.166666626930237 82.17778015136719 3.266666412353516 L 82.17778015136719 5.133333206176758 L 80 5.133333206176758 L 80 7.622222423553467 L 82.17778015136719 7.622222423553467 L 82.17778015136719 14 L 84.74444580078125 14 Z">
                </path>
            </svg>
            <svg class="Path_39" viewBox="38 2 14 11.356">
                <path id="Path_39"
                    d="M 42.43333435058594 13.35555362701416 C 47.72222137451172 13.35555362701416 50.59999465942383 8.999999046325684 50.59999465942383 5.188889026641846 C 50.59999465942383 5.033333778381348 50.59999465942383 4.955555438995361 50.59999465942383 4.800000190734863 C 51.14444351196289 4.411111354827881 51.61111068725586 3.866666793823242 51.99999618530273 3.322222232818604 C 51.45555114746094 3.555555820465088 50.91110610961914 3.711111068725586 50.36666488647461 3.788889169692993 C 50.9888916015625 3.400000095367432 51.37777709960938 2.855555534362793 51.61111068725586 2.233333587646484 C 51.0666618347168 2.54444432258606 50.44444274902344 2.777777433395386 49.82221984863281 2.933333396911621 C 49.27777099609375 2.311110973358154 48.49999618530273 2 47.72222137451172 2 C 46.16666793823242 2 44.84444427490234 3.322221994400024 44.84444427490234 4.877777576446533 C 44.84444427490234 5.111110687255859 44.84444427490234 5.344443798065186 44.92221450805664 5.5 C 42.5111083984375 5.344444274902344 40.41110992431641 4.255555629730225 39.0111083984375 2.466666460037231 C 38.77777481079102 2.855555534362793 38.62221908569336 3.399999856948853 38.62221908569336 3.944444179534912 C 38.62221908569336 4.955555438995361 39.16666793823242 5.811110973358154 39.86666488647461 6.355555057525635 C 39.40000152587891 6.355555057525635 38.93333435058594 6.199999332427979 38.54444122314453 5.966666698455811 C 38.54444122314453 5.966666698455811 38.54444122314453 5.966666698455811 38.54444122314453 5.966666698455811 C 38.54444122314453 7.366666316986084 39.5555534362793 8.533331871032715 40.87777709960938 8.766665458679199 C 40.64444351196289 8.844443321228027 40.41110992431641 8.844443321228027 40.09999465942383 8.844443321228027 C 39.94443893432617 8.844443321228027 39.71110534667969 8.844443321228027 39.5555534362793 8.766665458679199 C 39.94443893432617 9.933332443237305 40.95555114746094 10.71110916137695 42.27777099609375 10.78888702392578 C 41.26666259765625 11.56666469573975 40.02222061157227 12.03333187103271 38.70000076293945 12.03333187103271 C 38.46666717529297 12.03333187103271 38.23333358764648 12.03333187103271 37.99999618530273 11.95555305480957 C 39.24444198608398 12.88888740539551 40.79999542236328 13.35555362701416 42.43333435058594 13.35555362701416">
                </path>
            </svg>
            <svg class="Path_40" viewBox="0 0 14 14">
                <path id="Path_40"
                    d="M 7 1.244444489479065 C 8.866666793823242 1.244444489479065 9.100000381469727 1.244444489479065 9.80000114440918 1.322222352027893 C 10.5 1.322222352027893 10.88888931274414 1.47777795791626 11.12222290039063 1.555555582046509 C 11.43333339691162 1.711111187934875 11.66666698455811 1.866666674613953 11.89999961853027 2.099999904632568 C 12.13333320617676 2.333333253860474 12.28888893127441 2.566666841506958 12.44444465637207 2.877778053283691 C 12.5222225189209 3.111111164093018 12.67777729034424 3.5 12.67777729034424 4.199999809265137 C 12.67777729034424 4.90000057220459 12.75555610656738 5.133333683013916 12.75555610656738 7 C 12.75555610656738 8.866666793823242 12.75555610656738 9.100000381469727 12.67777729034424 9.80000114440918 C 12.67777729034424 10.5 12.52222061157227 10.88888931274414 12.44444370269775 11.12222290039063 C 12.2888879776001 11.43333339691162 12.13333225250244 11.66666698455811 11.89999961853027 11.89999961853027 C 11.66666698455811 12.13333320617676 11.4333324432373 12.28888893127441 11.12222194671631 12.44444465637207 C 10.88888835906982 12.5222225189209 10.49999904632568 12.67777729034424 9.800000190734863 12.67777729034424 C 9.100000381469727 12.67777729034424 8.866666793823242 12.75555610656738 7 12.75555610656738 C 5.133333206176758 12.75555610656738 4.90000057220459 12.75555610656738 4.199999809265137 12.67777729034424 C 3.5 12.67777729034424 3.111111164093018 12.52222061157227 2.877778053283691 12.44444370269775 C 2.566666603088379 12.2888879776001 2.333333253860474 12.13333225250244 2.099999904632568 11.89999961853027 C 1.866666674613953 11.66666698455811 1.711111187934875 11.4333324432373 1.555555582046509 11.12222194671631 C 1.47777783870697 10.88888835906982 1.322222352027893 10.49999904632568 1.322222352027893 9.800000190734863 C 1.322222352027893 9.100000381469727 1.244444489479065 8.866666793823242 1.244444489479065 7 C 1.244444489479065 5.133333206176758 1.244444489479065 4.90000057220459 1.322222352027893 4.199999809265137 C 1.322222352027893 3.5 1.47777783870697 3.111111164093018 1.555555582046509 2.877778053283691 C 1.711111187934875 2.566666603088379 1.866666674613953 2.333333253860474 2.099999904632568 2.099999904632568 C 2.333333253860474 1.788888692855835 2.566666603088379 1.633333206176758 2.877778053283691 1.555555582046509 C 3.111111164093018 1.47777783870697 3.5 1.322222352027893 4.199999809265137 1.322222352027893 C 4.90000057220459 1.244444489479065 5.133333206176758 1.244444489479065 7 1.244444489479065 M 7 0 C 5.133333206176758 0 4.822222232818604 0 4.122222423553467 0.07777778059244156 C 3.344444513320923 0.07777778059244156 2.877778053283691 0.2333333343267441 2.411111354827881 0.3888888955116272 C 1.94444465637207 0.5444445013999939 1.555555582046509 0.7777777910232544 1.166666626930237 1.166666626930237 C 0.7777777910232544 1.555555582046509 0.5444445013999939 1.94444465637207 0.3888888955116272 2.411111116409302 C 0.1555555611848831 2.877778053283691 0.07777778059244156 3.344444513320923 0.07777778059244156 4.122222423553467 C 0 4.822222232818604 0 5.133333206176758 0 7 C 0 8.866666793823242 0 9.177777290344238 0.07777778059244156 9.877777099609375 C 0.07777778059244156 10.65555477142334 0.2333333343267441 11.12222290039063 0.3888888955116272 11.58888816833496 C 0.5444445013999939 12.05555629730225 0.7777777910232544 12.44444465637207 1.166666626930237 12.83333301544189 C 1.555555582046509 13.22222232818604 1.94444465637207 13.4555549621582 2.411111116409302 13.61111068725586 C 2.877777814865112 13.76666736602783 3.344444513320923 13.92222213745117 4.122222423553467 13.92222213745117 C 4.822222232818604 14 5.133333206176758 14 7 14 C 8.866666793823242 14 9.177777290344238 14 9.877777099609375 13.92222213745117 C 10.65555477142334 13.92222213745117 11.12222290039063 13.7666654586792 11.58888816833496 13.61111068725586 C 12.05555629730225 13.4555549621582 12.44444465637207 13.22222232818604 12.83333301544189 12.83333301544189 C 13.22222232818604 12.44444465637207 13.4555549621582 12.05555629730225 13.61111068725586 11.58888816833496 C 13.76666736602783 11.12222194671631 13.92222213745117 10.65555477142334 13.92222213745117 9.877777099609375 C 13.92222213745117 9.100000381469727 14 8.866666793823242 14 7 C 14 5.133333206176758 14 4.822222232818604 13.92222213745117 4.122222423553467 C 13.92222213745117 3.344444513320923 13.7666654586792 2.877778053283691 13.61111068725586 2.411111354827881 C 13.4555549621582 1.94444465637207 13.22222232818604 1.555555582046509 12.83333301544189 1.166666746139526 C 12.44444465637207 0.7777778506278992 12.05555629730225 0.5444445610046387 11.58888816833496 0.3888889849185944 C 11.12222194671631 0.2333334386348724 10.65555477142334 0.07777786254882813 9.877777099609375 0.07777786254882813 C 9.177777290344238 0 8.866666793823242 0 7 0 M 7 3.422222375869751 C 4.97777795791626 3.422222375869751 3.422222375869751 4.97777795791626 3.422222375869751 7 C 3.422222375869751 9.022222518920898 5.05555534362793 10.57777881622314 7 10.57777881622314 C 9.022222518920898 10.57777881622314 10.57777881622314 8.94444465637207 10.57777881622314 7 C 10.57777881622314 5.05555534362793 9.022222518920898 3.422222375869751 7 3.422222375869751 M 7 9.333333015441895 C 5.677777767181396 9.333333015441895 4.666666507720947 8.322222709655762 4.666666507720947 7 C 4.666666507720947 5.677777767181396 5.677777767181396 4.666666507720947 7 4.666666507720947 C 8.322222709655762 4.666666507720947 9.333333015441895 5.677777767181396 9.333333015441895 7 C 9.333333015441895 8.322222709655762 8.322222709655762 9.333333015441895 7 9.333333015441895 M 10.7333345413208 2.411111116409302 C 10.26666641235352 2.411111116409302 9.877777099609375 2.799999952316284 9.877777099609375 3.266666412353516 C 9.877777099609375 3.733333110809326 10.26666641235352 4.122221946716309 10.7333345413208 4.122221946716309 C 11.19999980926514 4.122221946716309 11.58888912200928 3.733333110809326 11.58888912200928 3.266666412353516 C 11.58888816833496 2.799999952316284 11.19999980926514 2.411111116409302 10.7333345413208 2.411111116409302">
                </path>
            </svg>
            <div id="MOVIE_APP__A0_Text_14">
                <span>MOVIE-APP</span><br>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
            </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
            </script>
</body>

</html>