<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c531526e8d.js"></script>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/room/showRoom.css">
    <link rel="stylesheet" type="text/css" href="../css/room/new.css">
    <title><%=room.title%></title>
</head>

<body>
    <% include ../Components/Navbar %>
    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <div style="padding: 50px" class="container">
        <div class="row main-block">
            <div class="col-md-8">
                <div id="player" class="mt-5"></div>
                <h3><%=room.title%></h3>
                <div>
                    <p style="display: inline"><a href="/home/<%= room._id %>/like"><i class="far fa-thumbs-up"></i>
                            <%=room.likes%></p>
                    <a href="/home/<%= room._id %>/dislike">
                        <p style="display: inline" class="ml-3"></p><i class="far fa-thumbs-down"></i>
                        <%=room.dislikes%></p>
                    </a>
                </div>
                <hr>
                <% if(room.author.id.equals(currentUser._id)) { %>
                <div>
                    <form class="delete-form" style="display: inline" action="/home/<%= room._id %>?_method=DELETE"
                        method="POST">
                        <a class="btn btn-warning btn-sm" href="/home/<%= room._id %>/edit">Edit</a>
                        <button class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </div>
                <% }%>
                <div>
                    <h5 class="bold">Description: </h5>
                    <p><%=room.content%></p>
                    <p id="hiddenShit"><%=room.videoId%></p>
                </div>
            </div>
            <div id="chat-box" class="col-md-2 mt-5 h-50">
                <i class="fab fa-facebook-messenger fa-5x chat-icon"
                    style="width:70px; height:70px; color: #54bfe3"></i>
                <div class="chat-box" style="display: block;">
                    <div class="chat-box-header">
                        Messenger
                        <span class="chat-box-toggle"><i class="far fa-window-close fa-2x"></i></span>
                    </div>
                    <div class="chat-box-body ">
                        <div class="chat-box-overlay">
                        </div>
                        <div class="chat-logs" id="messages" style="overflow:auto">

                            <!--Chat Message-->

                        </div>
                    </div>
                    <div class="chat-input">
                        <form id="chat-message" action="#">
                            <input type="text" id="chat-input" class="m" autocomplete="off"
                                placeholder="Send a message...">
                            <button type="submit" class="chat-submit" id="chat-submit"><i
                                    class="far fa-paper-plane fa-2x mr-1"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="border mt-5" style="padding: 10px">
            <p style="font-weight: bold">Comments</p>
            <div>
                <small><%=room.comments.length%> comments</small>
                <hr>
                <form method="POST" action="/home/<%=room.id%>/comments/new">
                    <input type="text" name="content" id="fname" name="firstname" placeholder="Add a comments..">
                </form>

                <% room.comments.reverse().forEach(comment =>{ %>
                <div class="<%=comment._id%>">
                    <a href="/user/profile/<%=comment.creator._id%>">
                        <p style="font-weight: bold; display: inline;"><%=comment.creator.lastName%></p>
                    </a>
                    <p style="display: inline"> : <%=comment.content%></p>
                    <div class="ml-5">
                        <a href="/home/<%=comment._id%>/comments/like"><small><%=comment.likes%> Like</small></a>
                        <p style="display: inline">.</p>
                        <a href="#"><small class="replyComment" id='<%=comment._id%>'>Reply</small></a>
                    </div>
                    <div class="<%=comment._id%> replyForm">
                        <form class="ml-5" method="Post" action="/home/<%=comment._id%>/comments/reply">
                            <label style="font-weight: bold; display: inline;"><%=currentUser.lastName%> :</label>
                            <input id="hihi" name="content" type="text">
                            <hr>
                        </form>
                    </div>
                </div>
                <% comment.replies.forEach(reply => { %>
                <div class="ml-5">
                    <a href="/user/profile/<%=reply._id%>">
                        <p style="display: inline; font-weight: bold"><%=reply.author%> </p>
                    </a>
                    <p style="display: inline"> : <%=reply.content%></p>
                </div>
                <% })%>
                <hr>
                <% }) %>
            </div>
        </div>
    </div>
    <footer id="myFooter" class="mt-5">
        <div class="container" style="margin-bottom: -40px">
            <div class="row">
                <div class="col-sm-3">
                    <h2 class="logo"><a href="#"> LOGO </a></h2>
                </div>
                <div class="col-sm-2">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sign up</a></li>
                        <li><a href="#">Downloads</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <div class="social-networks">
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                    </div>
                    <button type="button" class="btn btn-default">Contact us</button>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2016 Copyright Text </p>
        </div>
    </footer>
    <%/////////////////////////////////////%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>
    <script>
        // 2. This code loads the IFrame Player API code asynchronously.
        var tag = document.createElement('script');
        $('#hiddenShit').hide()

        const videoId = $('#hiddenShit').text()
        tag.src = "http://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // 3. This function creates an <iframe> (and YouTube player)
        //    after the API code downloads.
        var player;
        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                height: '522',
                width: '928',
                videoId: videoId,
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                }
            });
        }

        // 4. The API will call this function when the video player is ready.
        function onPlayerReady(event) {
            event.target.playVideo();
        }

        // 5. The API calls this function when the player's state changes.
        //    The function indicates that when playing a video (state=1),
        //    the player should play for six seconds and then stop.
        var done = false;
        function onPlayerStateChange(event) {
            if (event.data == YT.PlayerState.PLAYING && !done) {
                setTimeout(stopVideo, 6000);
                done = true;
            }
        }
        function stopVideo() {
            player.stopVideo();
        }
        $('.chat-box').hide()
        $('i.far.fa-window-close,i.chat-icon').on('click', function (event) {
            event.preventDefault();
            $('.chat-box').slideToggle('fast');
        });
        $(function () {
            var socket = io();
            $('form#chat-message').submit(function () {
                if ($('.m').val() !== '') {
                    socket.emit('chat message', $('#userName').text() + ':  ' + $('.m').val());
                    $('.m').val('');
                    return false;
                }
                return Error
            });
            socket.on('chat message', function (msg) {
                if (msg.includes($('#userName').text())) {
                    $('div#messages').prepend($(`<div id="cm-msg" class="chat-msg self" style=""><div class="cm-msg-text-1">${msg}</div> </div>`));
                } else {
                    $('div#messages').prepend($(`<div id="cm-msg" class="chat-msg self" style=""><div class="cm-msg-text-2">${msg}</div> </div>`));
                }
            });
        });
        $('.replyForm').hide()
        $('small.replyComment').on('click', (e) => {
            $('div.' + e.target.id).show()
        })

    </script>
</body>

</html>